PORT=5175
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=archguard
MYSQL_PASSWORD=archguard
MYSQL_DATABASE=ARCHGUARD
MYSQL_SSL=false
POLICY_UI_ENABLE_SAVE=0
POLICY_UI_ENABLE_GITHUB=0
POLICY_UI_ENABLE_EVAL=0
GITHUB_PROFILE_USERNAME=Wertoquri
