version: '3.8'
services:
  db:
    image: mysql:8
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ARCHGUARD
    volumes:
      - db-data:/var/lib/mysql
  archguard:
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - '5175:5175'
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: ARCHGUARD
    depends_on:
      - db
volumes:
  db-data:
